
<div class="jumbotron container">
	<h1>CFL Light Bulb Calculator</h1>
	<p>Measure your savings for converting to Compact Fluorescent Light
		bulbs (CFL's).</p>
</div>

<div class="container">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-6">How many incandescent
				bulbs do you have?</label>
			<div class="col-sm-6">
				<input type="number" placeholder="Number of old bulbs"
					ng-model="numOldBulbs">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">On average, how long
				hours are they on each day (hours)?</label>
			<div class="col-sm-6">
				<input type="number" placeholder="Number of hours"
					ng-model="numHoursOn">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">Incandescent cost per
				year ($/yr)*</label>
			<div class="col-sm-6">
				<input type="number" ng-model="oldCostPerYr">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">CFL cost per year
				($/yr)*</label>
			<div class="col-sm-6">
				<input type="number" ng-model="cflCostPerYr">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">CFL Price ($)</label>
			<div class="col-sm-6">
				<input type="number" ng-model="cflDollarPrice">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">Cost to replace bulbs
				($)</label>
			<div class="col-sm-6">
				<input type="number" readonly="true"
					value="{{(numOldBulbs*cflDollarPrice).toFixed(2)}}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">Amount saved in one
				year. ($) </label>
			<div class="col-sm-6">
				<!-- Be careful!  This calculation is duplicated! -->
				<span class="label label-success">
					${{(numOldBulbs*(numHoursOn/24)*(oldCostPerYr-cflCostPerYr)).toFixed(2)}}
					&#10004;</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-6">Days to recover cost.
				($) </label>
			<div class="col-sm-6">
				<!-- Be careful!  This calculation is duplicated! -->
				<span class="label label-success">
					{{((numOldBulbs*cflDollarPrice)/(numOldBulbs*(numHoursOn/24)*(oldCostPerYr-cflCostPerYr))*365).toFixed(2)}}
					&#10004;</span>
			</div>
		</div>

		<p>
			* Average yearly cost to run operate an incandescent light bulb:
			$4.80. Average yearly cost to operate a compact fluorescent light
			bulb $1.75 - <a
				href="http://www.statisticbrain.com/light-bulb-statistics/">statisticbrain.com</a>
		</p>
		<hr />
		<br />
		<h3>Calculation</h3>
		<p>Amount saved in one year:</p>
		<pre>numOldBulbs * (numHoursOn / 24) * (oldCostPerYr - cflCostPerYr)</pre>
	</form>
</div>
