
<div class="container">

	<div class="row">
		<div class="col-xs-6">
			<h4>What is MKT?</h4>
			<p>MKT is a new web app that allows you to control your account
				features.</p>

			<h4>What devices can I use to access this site?</h4>
			<p>You can use any desktop, table, or mobile device with a modern browser.</p>

			<h4>How do I change my service?</h4>
			<p>Go to the <a href="#/settings">settings tab</a> and edit your service options.</p>
		</div>

		<div class="col-xs-6">
			<h4>How do I know my service has changed?</h4>
			<p>You will get a notification.  Also a record of your change is in the <a href="#/history">history section</a>.</p>

			<h4>How can I get help?</h4>
			<p>Contact us by visiting our <a href="#">service page</a>.</p>
		</div>
	</div>
</div>