
table.app-launcher-apps {
	border-radius: 20px;
    background: #111111;
    border-collapse: separate; /* override bootstrap if necessary */
    padding: 36px 23px 36px 23px;
}

table.app-launcher-apps tr td {
	min-width: 100px;
	margin-bottom: 15px;
	font-size: 18px;
	text-align: center;
	padding: 13px;
}

table.app-launcher-apps tr td a div {
	border-radius: 24px;
    border: none;
    box-shadow: inset 0px 2px 2px 2px rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: center center;
	width: 100px;
	height: 100px;
	margin: 0 auto 5px;
    vertical-align: middle;
	font-size: 68px;
}

table.app-launcher-apps tr td a {
    text-decoration: none;
	display: block;
    white-space: nowrap;
    width: 120px;                   
    overflow: hidden;              /* "overflow" value must be different from "visible" */ 
    text-overflow: ellipsis;
    transition: all .07s ease-in-out;
}
table.app-launcher-apps tr td a:hover {
    transform: scale(1.05);
}
table.app-launcher-apps tr td a:link {
    color: #eee;
}
table.app-launcher-apps tr td a:visited {
    color: #eee;
}
table.app-launcher-apps tr td a:hover {
    color: #fff;
}
table.app-launcher-apps tr td a:active {
    color: #eee;
}

table.app-launcher-apps .app-launcher-icon-a {
    background: radial-gradient(#8e3, #370);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-b {
    font-style: italic;
    background: linear-gradient(#f91, #c60);
    color: #010;
}
table.app-launcher-apps .app-launcher-icon-c {
    background: linear-gradient(#c4c,#909);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-d {
    background: linear-gradient(#49e, #27c);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-e {
    background: linear-gradient(#49e, #27c);
    color: #fff;
}
table.app-launcher-apps .app-launcher-icon-f {
    font-style: italic;
    background: linear-gradient(#7d3, #3a0);
    color: #fff
}
table.app-launcher-apps .app-launcher-icon-g {
    background: linear-gradient(#49e, #27c);
    color: #fff;
}
table.app-launcher-apps .app-launcher-icon-h {
    background: linear-gradient(#7d3, #3a0);
    color: #fff
}
table.app-launcher-apps .app-launcher-icon-i {
    font-style: italic;
    background: linear-gradient(#49e, #27c);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-j {
    background: linear-gradient(#7d3, #3a0);
    color: #fff
}
table.app-launcher-apps .app-launcher-icon-k {
    background: linear-gradient(#49e, #27c);
    color: #fff;
}
table.app-launcher-apps .app-launcher-icon-l {
    font-style: italic;
    font-family: serif;
    font-size: 50px;
    background: #0912f4;
    color: #eee;
}
table.app-launcher-apps .app-launcher-icon-m {
    background: linear-gradient(#fff, #ccc);
    border: none;
    color: #111;
}
table.app-launcher-apps .app-launcher-icon-n {
    background: linear-gradient(#c4c,#909);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-o {
    background: linear-gradient(#ccf,#33e);
    color: #eee;
    font-weight: bold;
    border: none;
}
table.app-launcher-apps .app-launcher-icon-p {
    font-style: italic;
    background: linear-gradient(#c4c,#909);
    color: #fff;
    border: none;
}
table.app-launcher-apps .app-launcher-icon-q {
    background: linear-gradient(#ccf,#33e);
    color: #eee;
}
table.app-launcher-apps .app-launcher-icon-r {
    background: linear-gradient(#c4c,#909);
    color: #fff;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-s {
    background: linear-gradient(#7d3, #3a0);
    color: #fff
}
/* BEGIN: Example of overriding default icon with an image. */
table.app-launcher-apps .app-launcher-icon-settings {
    background-image: url('../images/settings.png');
    background-size: 100px 100px;
    color: #fff;
    box-shadow: none;
}
table.app-launcher-apps .app-launcher-icon-s.app-launcher-icon-settings span {
    display: none;
}
/* END: Example of overriding default icon with an image. */
table.app-launcher-apps .app-launcher-icon-t {
    font-style: italic;
    background: #fd0;
    color: #000104;
    font-weight: bold;
}
table.app-launcher-apps .app-launcher-icon-u {
    background: linear-gradient(#49e, #27c);
    color: #fff;
}
table.app-launcher-apps .app-launcher-icon-v {
    background: linear-gradient(#fff, #ccc);
    color: #111;
}
table.app-launcher-apps .app-launcher-icon-w {
    font-style: italic;
    background: linear-gradient(#fff, #ccc);
    color: #111;
}
table.app-launcher-apps .app-launcher-icon-x {
    background: linear-gradient(#f91, #c60);
    color: #010;
}
table.app-launcher-apps .app-launcher-icon-y {
    background: linear-gradient(#f91, #c60);
    color: #010;
}
table.app-launcher-apps .app-launcher-icon-z {
    background: linear-gradient(#fff, #ccc);
    color: #111;
}
